/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
   * Remove text-shadow in selection highlight:
   * https://twitter.com/miketaylr/status/12228805301
   *
   * Customize the background color to match your design.
   */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
   * A better looking default horizontal rule
   */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
   * Remove the gap between audio, canvas, iframes,
   * images, videos and the bottom of their containers:
   * https://github.com/h5bp/html5-boilerplate/issues/440
   */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
   * Remove default fieldset styles.
   */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
   * Allow only vertical resizing of textareas.
   */

textarea {
  resize: vertical;
}

/* ==========================================================================
     Author's custom styles
     ========================================================================== */

/* ==========================================================================
     Helper classes
     ========================================================================== */

/*
   * Hide visually and from screen readers
   */

.hidden,
[hidden] {
  display: none !important;
}

/*
   * Hide only visually, but have it available for screen readers:
   * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
   *
   * 1. For long content, line feeds are not interpreted as spaces and small width
   *    causes content to wrap 1 word per line:
   *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
   */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
   * Extends the .visually-hidden class to allow the element
   * to be focusable when navigated to via the keyboard:
   * https://www.drupal.org/node/897638
   */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
   * Hide visually and from screen readers, but maintain layout
   */

.invisible {
  visibility: hidden;
}

/*
   * Clearfix: contain floats
   *
   * The use of `table` rather than `block` is only necessary if using
   * `::before` to contain the top-margins of child elements.
   */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
     EXAMPLE Media Queries for Responsive Design.
     These examples override the primary ('mobile first') styles.
     Modify as content requires.
     ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
     Print styles.
     Inlined to avoid the additional HTTP request:
     https://www.phpied.com/delay-loading-your-print-css/
     ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* Aqui empieza el proyecto */

$black-color: #2e2f38;
$cyan-color: #68f3f6;
$gray-color: #8e8e8e;
$red-color: #fa504d;
$white-color: #ffffff;
$primary-font: "Poppins", sans-serif;
$secondary-font: "Belgrano", serif;

@mixin button() {
  display: inline-block;
  padding: 0.8rem 2rem;
  background-color: $red-color;
  color: $white-color;
  font-weight: 600;
  transition: background-color 0.5s ease;
  &:hover {
    background-color: $white-color;
    color: $red-color;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $primary-font;
  font-size: 16px;
  &::before {
    content: "";
    background-color: $black-color;
    width: 40%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
}

.container {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  &::before {
    content: url(../img/artzie..png);
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 2;
  }
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  gap: 153px;
  align-items: center;
  margin-bottom: 30px;
  nav.main-menu ul {
    list-style: none;
    display: flex;
    gap: 56px;
    li a {
      color: $black-color;
      font-size: 1.1rem;
      text-decoration: none;
      transition: color 0.5s ease;
      &:hover {
        color: $red-color;
      }
    }
  }
}

.login-menu {
  margin-left: auto;
  ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 56px;
    li a {
      color: $white-color;
      text-decoration: none;
      transition: color 0.5s ease;

      &:hover {
        color: $red-color;
      }
      &.sign-in {
        @include button();
      }
    }
  }
}

main {
  display: grid;
  grid-template-columns: 60% 40%;
}

section.principal {
  grid-column: 1 / span 1;
  margin-bottom: 70px;
  padding-top: 50px;
  h1 {
    margin: 0;
    font-size: 65px;
    font-family: $secondary-font;
    font-weight: 400;
    line-height: 90px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: $black-color;
    &::before {
      content: url(../img/destacado.svg);
      position: absolute;
      left: 185px;
    }
  }
  p {
    color: $gray-color;
    font-size: 22px;
    font-weight: 400px;
    margin-bottom: 40px;
    position: relative;
    &::before {
      content: "";
      background-color: $red-color;
      position: absolute;
      width: 83px;
      height: 4px;
      left: 1px;
      bottom: 4px;
    }
  }
  a.btn {
    @include button();
    text-decoration: none;
    padding: 15px 60px;
  }
  a.learn {
    padding-left: 30px;
    color: $black-color;
    transition: color 0.5s ease;
    &:hover {
      color: $red-color;
    }
  }
}

section.image {
  grid-column: 1 / span 1;
  h2 {
    color: $black-color;
    font-weight: 400;
    font-size: 32px;
    font-family: $secondary-font;
    margin-bottom: 25px;
  }
  div.images {
    display: flex;
    gap: 48px;
    img {
      width: 45%;
      border: 2px solid $gray-color;
      padding: 4px;
    }
  }
}

article.nft {
  grid-column: 2 / span 1;
  grid-row: 1 / span 2;
  padding-left: 80px;
  padding-right: 20px;

  .container-img {
    img {
      width: 100%;
      padding-left: 10px;
    }
  }
  .nft-data {
    background-color: $white-color;
    padding: 20px;
    margin-top: -40px;
    position: relative;
    .nft-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 40px;
      .nft-owner {
        display: flex;
        img {
          padding: 10px;
          width: 80px;
        }
        .nft-owner-data {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding-left: 10px;
          p.username {
            color: $gray-color;
            font-size: 18px;
            font-weight: 400;
          }
          p.name {
            color: $black-color;
            font-size: 24px;
            font-weight: 600;
          }
        }
      }
      .nft-price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        p.current {
          color: $gray-color;
          font-size: 18px;
          font-weight: 400;
        }
        p.price {
          color: $black-color;
          font-size: 24px;
          font-weight: 600;
        }
      }
    }
    .nft-buttons {
      display: flex;
      gap: 88px;
      align-items: center;
      margin-bottom: 20px;
      a.bid {
        @include button();
        text-decoration: none;
        padding: 10px 100px;
      }
      a.view {
        color: $red-color;
        font-weight: 600;
        text-decoration: none;
      }
    }
  }
  .nft-numbers {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    margin-top: 80px;

    div {
      color: $gray-color;
      font-size: 18px;
      font-weight: 400;
      display: flex;
      align-items: center;
    }
    span {
      color: $red-color;
      font-size: 32px;
      font-weight: 600;
      padding-right: 5px;
    }
  }
}
